<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'hello/css/concept-layout.css'%}">
    <title>思い出カプセル --コンセプト--</title>
</head>
<body>
    <h1>CONCEPT</h1>
    <h2>「"思い出"を置いていこう」</h2>
    <p id="concept-detail">「10年後の自分へ」などの手紙を書きそれを10年後に開封する．<br>

        いわゆるタイムカプセルというやつです．<br>
        
        タイムカプセルの概念はメソポタミア文明の時代にまで遡り，貴重品を後世のために隠しておくということが行われていたそうです．<br>
        
        僕は小学校を卒業したときにやりました．<br>
        
        その当時の思いなどをタイムカプセルに詰め込み，未来の自分がそれを開けて当時を思い出す．<br>
        
        まるで10年前の自分と対話しているかのような不思議な感覚になりました．<br>
        
        しかし，その10年間はタイムカプセルのことなんぞすっかり忘れてしまいます．
        <hr>
        あなたは”つらくて悲しい思い出”，”ムカついてしょうがない思い” や ”忘れたいこと”がありますか．<br>
        そんな思いをしたときどうしますか．<br>

        僕はよくどこか知らないところに行きます．<br>

        理由は分かりません．<br>

        しかし，不思議なことにその旅のあとはそんなことちっぽけだったなと思い数日経つとすっかり忘れてしまいます．<br>

        これはまさに旅した場所にその”思い出”を置いていってるのかなという気になります．<br>
        <hr>
        「”思い出”を置きにいこう」<br>

        そんなコンセプトでこのアプリを作りました．<br>

        カプセルに詰め込むのは貴重品でなくても構いません．<br>

        もちろん楽しい旅行の思い出をカプセルに詰め込んで旅先に置いていってもいいし，<br>

        失恋した思いをどこか見知らぬ遠い地に埋め込むこともできます．<br>

        将来の漠然とした不安を言葉にしてそれごとどこかへ置いてしまうのも良いでしょう．<br>

        旅先は一体どこがいいでしょうか．<br>

        近所でもいいし，全く訪れたことのない場所でもいいです．<br>

        みなさんそれぞれの使い方で”思い出”をどこかへ置いてきてください．<br>

        そしていつか再びその場所を訪れたときに”思い出”カプセルを開けてみるとその当時の自分と同じ場所で話をすることができるかもしれませんね．


    </p>
</body>
</html>